.container {
    width: 800px;
    margin: 37px 2rem auto;
    padding-bottom: 8rem;
    perspective: 1000px;
}

.carrusel {
    width: 100%;
    transform-style: preserve-3d;
    animation: rotate360 20s infinite forwards linear;
}

.carousel__face {
    position: absolute;
    display: flex;
    width: 200px;
    left: 300px;
}

span {
    margin: auto;
}

.carousel__face:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.carousel__face:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}

.carousel__face:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}

.carousel__face:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}

.carousel__face:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}

.carousel__face:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}

.carousel__face:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}

.carousel__face:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}

.carousel__face:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}

span{
    padding-top: 1rem;
    height: 270px;
    width: 100%;
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}