.wallpaperOpenPacks {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-position: center !important;
    background-attachment: fixed !important; 
    padding: 3.1rem 6rem ;
    color: white;
    background: no-repeat url("../../../Image/wallpapar-openPacks.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}
