.wallpaper-mundial {
    width: 100%;
    height: 100%;
    z-index: -1;
    padding-top: 60px;
}

.containerOpenCard {
    position: absolute;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    left: -1px;
    right: 0;
    outline: 0;
    margin: 0 auto;
    font-size: 20px;
    text-transform: uppercase;
    width: 268px;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    z-index: 2;
    border: 2px solid var(--color-three);
    background: transparent;
    color: darken(var(--color-three), 50%);
    font-weight: 700;
    transform: scale(1);
    background: radial-gradient(ellipse at center,
            darken(var(--color-three), 10%) 0%,
            darken(var(--color-three), 20%));
}

.containerOpenCard:hover {
    margin-top: -5px;
}

.containerOpenCard .active {
    transform: rotateX(-180deg);
    opacity: 0;
}

.novedades-principales {
    height: 200px;
    background-color: var(--red-home-bg-color);
    margin: 5px;
    border: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #500730;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.novedades-secundarias {
    height: 200px;
    background-color: var(--red-home-bg-color);
    margin: 5px;
    border: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #500730;
}


.novedades-terciarias {
    height: 160px;
    background-color: var(--red-home-bg-color);
    margin: 5px;
    border: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #500730;
}

.novedades {
    height: 160px;
    background-color: var(--red-home-bg-color);
    margin: 5px;
    border: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #500730;
}

.container-carrusel {
    margin-top: 10px;
}